{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <link rel="stylesheet" href="{% static 'css/explore.css' %}">
 <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
  <title>Explore</title>
</head>
<body>
  <div class="lightbox-blanket">
    <div class="pop-up-container">
      <div class="pop-up-container-vertical">
        <div class="pop-up-wrapper">
          <div class="go-back" onclick="GoBack();"><i class="fa fa-arrow-left"></i>
          </div>
          <div class="product-details">
            <div class="product-left">
              <div class="product-info">
                <div class="product-manufacturer">VUE
                </div>
                <div class="product-title">
                  STEAMPUNK
                </div>
                <div class="product-price" price-data="32.03">
                  $32<span class="product-price-cents">03</span>
                </div>
              </div>
              <div class="product-image">
                <img src="{% static 'eimages/blaze_round_bronze_rougedegrademiroir.jpg' %}">
              </div>
            </div>
            <div class="product-right">
              <div class="product-description">
                Designer Karim Rashid continues to put his signature spin on all genres of design through various collaborations with top-notch companies. Another one to add to the win column is his work with Italian manufacturer Chateau d’Ax.
              </div>
              <div class="product-available">
                In stock. <span class="product-extended"><a href="#">Buy Extended Warranty</a></span>
              </div>
              <div class="product-rating">
                <i class="fa fa-star rating" star-data="1"></i>
                <i class="fa fa-star rating" star-data="2"></i>
                <i class="fa fa-star rating" star-data="3"></i>
                <i class="fa fa-star" star-data="4"></i>
                <i class="fa fa-star" star-data="5"></i>
                <div class="product-rating-details">(3.1 - <span class="rating-count">1203</span> reviews)
                </div>

              </div>
              <div class="product-quantity">
                <label for="product-quantity-input" class="product-quantity-label">Quantity</label>
                <div class="product-quantity-subtract">
                  <i class="fa fa-chevron-left"></i>
                </div>
                <div>
                  <input type="text" id="product-quantity-input" placeholder="0" value="0" />
                </div>
                <div class="product-quantity-add">
                  <i class="fa fa-chevron-right"></i>
                </div>
              </div>
            </div>
            <div class="product-bottom">
              <div class="product-checkout">
                Total Price
                <div class="product-checkout-total">
                  <i class="fa fa-usd"></i>
                  <div class="product-checkout-total-amount">
                    0.00
                  </div>
                </div>
              </div>
              <div class="product-checkout-actions">
                <a class="add-to-cart" href="#" onclick="AddToCart(event);">Add to Cart</a>
                
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="random-background">
    <div class="itemlist">
      <div class="itemlist-item-wrapper" onclick="OpenProduct(1);">
        <div class="product-details">
          <div class="">
            <div class="product-info">

              <div class="product-title" item-data="1">
                STEAMPUNK
              </div>
              <div class="product-price" price-data="32.03" item-data="1">
                $32<span class="product-price-cents">03</span>
              </div>
            </div>
            <div class="product-image" item-data="1">
              <img src="{% static 'eimages/aliexpress_steampunk_black_black.jpg' %}" />
            </div>
          </div>
        </div>
      </div>
      <div class="itemlist-item-wrapper" onclick="OpenProduct(2);">
        <div class="product-details">
          <div class="">
            <div class="product-info">

              <div class="product-title" item-data="1">
                VEITHDIA
              </div>
              <div class="product-price" price-data="32.03" item-data="1">
                $32<span class="product-price-cents">03</span>
              </div>
            </div>
            <div class="product-image" item-data="1">
              <img src="{% static 'eimages/aliexpress_veithdia_gold.jpg' %}" />
            </div>
          </div>
        </div>
      </div>
      <div class="itemlist-item-wrapper" onclick="OpenProduct(3);">
        <div class="product-details">
          <div class="">
            <div class="product-info">

              <div class="product-title" item-data="1">
                BLAZE WAYFARER
              </div>
              <div class="product-price" price-data="30.03" item-data="1">
                $30<span class="product-price-cents">03</span>
              </div>
            </div>
            <div class="product-image" item-data="1">
              <img src="{% static 'eimages/blaze_wayfarer_noir_vertclassique.jpg' %}" />
            </div>
          </div>
        </div>
      </div>
      <div class="itemlist-item-wrapper" onclick="OpenProduct(4);">
        <div class="product-details">
          <div class="">
            <div class="product-info">

              <div class="product-title" item-data="1">
                RAYBAN CHRIS
              </div>
              <div class="product-price" price-data="30.03" item-data="1">
                $30<span class="product-price-cents">03</span>
              </div>
            </div>
            <div class="product-image" item-data="1">
              <img src="{% static 'eimages/rayban_chris_violet_gun_gris_degrade.jpeg' %}" />
            </div>
          </div>
        </div>
      </div>
      <div class="itemlist-item-wrapper" onclick="OpenProduct(5);">
        <div class="product-details">
          <div class="">
            <div class="product-info">

              <div class="product-title" item-data="1">
                OAKLEY JAWBREAK
              </div>
              <div class="product-price" price-data="30.03" item-data="1">
                $30<span class="product-price-cents">03</span>
              </div>
            </div>
            <div class="product-image" item-data="1">
              <img src="{% static 'eimages/oakley_jawbreak_white_pink.jpg' %}" />
            </div>
          </div>
        </div>
      </div>
      <div class="itemlist-item-wrapper" onclick="OpenProduct(6);">
        <div class="product-details">
          <div class="">
            <div class="product-info">

              <div class="product-title" item-data="2">
                OAKLEY M2
              </div>
              <div class="product-price" price-data="30.03" item-data="2">
                $30<span class="product-price-cents">03</span>
              </div>
            </div>
            <div class="product-image" item-data="2">
              <img src="{% static 'eimages/oakley_m2_black_white_orange.jpg' %}" />
            </div>
          </div>
        </div>
      </div>
      <div class="itemlist-item-wrapper" onclick="OpenProduct(7);">
        <div class="product-details">
          <div class="">
            <div class="product-info">

              <div class="product-title" item-data="3">
                BLAZE CATEYE
              </div>
              <div class="product-price" price-data="32.03" item-data="3">
                $32<span class="product-price-cents">03</span>
              </div>
            </div>
            <div class="product-image" item-data="3">
              <img src="{% static 'eimages/blaze_cateye_argent_vertargent.jpg' %}" />
            </div>
          </div>
        </div>
      </div>
      <div class="itemlist-item-wrapper" onclick="OpenProduct(8);">
        <div class="product-details">
          <div class="">
            <div class="product-info">
              <div class="product-title" item-data="4">
                BLAZE HEXAGON
              </div>
              <div class="product-price" price-data="32.03" item-data="4">
                $32<span class="product-price-cents">03</span>
              </div>
            </div>
            <div class="product-image" item-data="4">
              <img src="{% static 'eimages/blaze_hexagonal_bronze_violetmiroir.jpg' %}" />
            </div>
          </div>
        </div>
      </div>
      <div class="itemlist-item-wrapper" onclick="OpenProduct(2);">
        <div class="product-details">
          <div class="">
            <div class="product-info">

              <div class="product-title" item-data="1">
                BLAZE CATEYE
              </div>
              <div class="product-price" price-data="32.03" item-data="1">
                $32<span class="product-price-cents">03</span>
              </div>
            </div>
            <div class="product-image" item-data="1">
              <img src="{% static 'eimages/blaze_cateye_or_rosemiroir.jpg' %}" />
            </div>
          </div>
        </div>
      </div>
      </div>
    </div>
  </div>
</body>

<script>
  //Go Back
function OpenProduct(i){
  var i = $('.product-image[item-data="'+i+'"] img');
  var lbi = $('.lightbox-blanket .product-image img');
  console.log($(i).attr("src"));
  $(lbi).attr("src", $(i).attr("src"));  
  $(".lightbox-blanket").toggle();
    
  $("#product-quantity-input").val("0");
  CalcPrice (0);
  
}
function GoBack(){
  $(".lightbox-blanket").toggle();
}

//Calculate new total when the quantity changes.
function CalcPrice (qty){
  var price = $(".product-price").attr("price-data");
  var total = parseFloat((price * qty)).toFixed(2);
  $(".product-checkout-total-amount").text(total);
}

//Reduce quantity by 1 if clicked
$(document).on("click", ".product-quantity-subtract", function(e){
  var value = $("#product-quantity-input").val();
  //console.log(value);
  var newValue = parseInt(value) - 1;
  if(newValue < 0) newValue=0;
  $("#product-quantity-input").val(newValue);
  CalcPrice(newValue);
});

//Increase quantity by 1 if clicked
$(document).on("click", ".product-quantity-add", function(e){
  var value = $("#product-quantity-input").val();
  //console.log(value);
  var newValue = parseInt(value) + 1;
  $("#product-quantity-input").val(newValue);
  CalcPrice(newValue);
});

$(document).on("blur", "#product-quantity-input", function(e){
  var value = $("#product-quantity-input").val();
  //console.log(value);
  CalcPrice(value);
});


function AddToCart(e){
  e.preventDefault();
  var qty = $("#product-quantity-input").val();
  if(qty === '0'){return;}
  var toast = '<div class="toast toast-success">Added '+ qty +' to cart.</div>';  
  $("body").append(toast);
  setTimeout(function(){ 
  $(".toast").addClass("toast-transition");
    }, 100);
  setTimeout(function(){      
    $(".toast").remove();
  }, 3500);
}
</script>
</html>